{% extends "base.html" %}
{% block content %}
    <form method="post" action="/">
    {% csrf_token %}
        Command: <input type="text" name="command" />
        <br/>
        <input type="submit"/>
    </form>

    {% if message %}
        <p>{{message}}</p>
    {% endif %}
{% endblock content %}